.App {
  background-color: gray;
  width: 100%;
  min-height: 100vh;
}

.cButton {
  padding: 10px;
  border: solid 1px;
  background-color: black;
  border-color: lightgray;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.cText {
  cursor: pointer;
  color: lightgray;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
