.App {
  background: linear-gradient(to bottom, #202020, #111119);
  width: 100%;
  min-height: 100vh;
}

.cButton {
  padding: 10px;
  border: solid 1px;
  background-color: black;
  border-color: lightgray;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.cText {
  cursor: pointer;
  color: lightgray;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

label {
  color: lightgray;
}

p {
  color: lightgray;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
